NODE_ENV=development
PORT=3006
DB_HOST=localhost
DB_PORT=3306
DB_USER=product_user
DB_PASSWORD=secret
DB_NAME=product_db
RABBITMQ_URL=amqp://guest:guest@localhost:5672
CORS_ORIGIN=http://localhost:5173
